<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <h2>Select a Plot to View</h2>
    <button onClick="location.href='/static/plot1.png'">plot1</button><br><br>
    <button onClick="location.href='/static/plot2.png'">plot2</button><br><br>
    <button onClick="location.href='/static/plot3.png'">plot3</button><br><br>
    <button onClick="location.href='/static/plot4.png'">plot4</button><br><br>
    <button onClick="location.href='/static/plot5.png'">plot5</button><br><br>
</body>
</html>


