<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Metadata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    
</head>
    

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Product Metadata</h1>
            </div>
            <div class="col ms-5 mt-2">
                <a href="/" class="btn btn-link float-end">Back to Home</a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="mb-2">
                    <input list="asin-list" id="asin-input" class="form-control" placeholder="Search for an ASIN" oninput="fetchProductDetails()" onkeydown="checkEnterKey(event)">
                    <datalist id="asin-list">
                        {% for asin in asin_list %}
                            <option value="{{ asin }}">
                        {% endfor %}
                    </datalist>
                </div>
            </div>

            <div id="product-details" class="col-md-8">
                <div class="review-card p-4 shadow-sm rounded bg-white mt-4">
                <h3 id="product-title"></h3>
                <p id="product-rating"></p>
                <p id="rating-number"></p>
                <p id="details"></p>
                <p id="store"></p>
                <p id="categories"></p>
                <img id="product-image" src="">
                </div>
    
            </div>

        </div>

    </div>


    <script>

        function parseDetails(detailsStr) {
            let formattedStr = detailsStr.replace(/'/g, '"');
            
            const detailsObj = JSON.parse(formattedStr);
            
            return detailsObj;
        }


        function fetchProductDetails() {
            var asin = document.getElementById("asin-input").value;


            if (asin) {
                fetch(`/get-product-details?parent_asin=${asin}`)
                .then(response => {
                    return response.json(); 
                })
                .then(data => {
                    if (data.title) {
                        document.getElementById("product-title").innerText = data.title;
                        document.getElementById("product-title").innerHTML += `<br><br>`;
                        document.getElementById("product-rating").innerHTML = `<strong>Average Rating:</strong> ${data.average_rating}`;
                        document.getElementById("rating-number").innerHTML = `<strong>Number of Ratings:</strong> ${data.rating_number}`;
                        
                        var detailsElement = document.getElementById("details");
                        detailsElement.innerHTML = ""; 
                        detailsElement.innerHTML = `<strong>Details:</strong> <br>`
                        data.details = parseDetails(data.details);
                    
                        for (let key in data.details) {
                            let li = document.createElement('li');
                            li.innerHTML = `${key} : ${JSON.stringify(data.details[key])} <br>`;
                            detailsElement.appendChild(li);

                        }

                        document.getElementById("store").innerHTML = `<strong>Store:</strong> ${data.store}`;
                        
                        var catElement = document.getElementById("categories");
                        catElement.innerHTML = "";
                        catElement.innerHTML += `<strong>Categories:</strong> <br>`;
                        data.categories = parseDetails(data.categories);
                        
                        for (let category in data.categories) {
                            let li = document.createElement('li');
                            li.innerHTML = `${data.categories[category]}<br>`;
                            catElement.appendChild(li);

                        }
                        const productImageElement = document.getElementById("product-image");
                        productImageElement.src = data.image_url;  

                    } else {
                        alert("Product details not found.");
                    }
                })
                .catch(error => console.error('Error fetching product details:', error));
            }
        }
        function checkEnterKey(event) {
            if (event.key === "Enter") {
                fetchProductDetails();  
            }
        }
    </script>
</body>
</html>




